.App {
  font-family: sans-serif;
  text-align: center;
}

.contador {
  background-color: aqua;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 1.5rem;
  color: white;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  background-color: #aaaaaa;
}

.button:hover {
  background-color: #888888;
  cursor: pointer;
}

.button:disabled {
  color: #cccccc;
  background-color: #eeeeee;
  cursor: auto;
}
